@import "./../../../assets/theme/default_theme.scss";

.headerContainer {
  width: 100%;
  background: $main_color;
  box-shadow: 0px 4px 5px #6d6d6d;

  > div {
    flex: 1;
  }
}

.logo {
  width: 100%;
  padding: 15px 0px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.rightSection {
  flex-grow: 1;
  color: $white;

  a {
    cursor: pointer;
  }

  .btn-primary {
    background: $white;
    color: $main_color;
    white-space: nowrap;
    border: none;
    outline: none;
  }
}

.bookBtn {
  border-radius: 0.8rem !important;
  color: $main_color;
  background: $white;
  border-color: $white;
  font-weight: bolder;
  padding: 1rem;
  font-size: 1.2rem;
}

.bookBtn:hover {
  color: $white;
  background: $main_color;
  border-color: $main_color;
  box-shadow: 0px 0px 10px $white;
}

